[submodule "libs/lime/projects/lib/vorbis"]
	path = libs/lime/projects/lib/vorbis
	url = https://github.com/openfl/libvorbis
[submodule "libs/lime/projects/lib/sdl"]
	path = libs/lime/projects/lib/sdl
	url = https://github.com/openfl/libsdl
[submodule "libs/lime/projects/lib/openal"]
	path = libs/lime/projects/lib/openal
	url = https://github.com/openfl/libopenal
[submodule "libs/lime/projects/lib/curl"]
	path = libs/lime/projects/lib/curl
	url = https://github.com/openfl/libcurl
[submodule "libs/lime/projects/lib/ogg"]
	path = libs/lime/projects/lib/ogg
	url = https://github.com/openfl/libogg
[submodule "libs/lime/projects/lib/zlib"]
	path = libs/lime/projects/lib/zlib
	url = https://github.com/openfl/libzlib
[submodule "libs/lime/projects/lib/neko"]
	path = libs/lime/projects/lib/neko
	url = https://github.com/openfl/libneko
[submodule "libs/lime/projects/lib/png"]
	path = libs/lime/projects/lib/png
	url = https://github.com/openfl/libpng
[submodule "libs/lime/projects/lib/jpeg"]
	path = libs/lime/projects/lib/jpeg
	url = https://github.com/openfl/libjpeg
[submodule "libs/lime/projects/lib/freetype"]
	path = libs/lime/projects/lib/freetype
	url = https://github.com/openfl/libfreetype
[submodule "libs/lime/projects/lib/harfbuzz"]
	path = libs/lime/projects/lib/harfbuzz
	url = https://github.com/openfl/libharfbuzz
[submodule "libs/lime/projects/lib/cairo"]
	path = libs/lime/projects/lib/cairo
	url = https://github.com/openfl/libcairo
[submodule "libs/lime/projects/lib/pixman"]
	path = libs/lime/projects/lib/pixman
	url = https://github.com/openfl/libpixman
[submodule "libs/lime/projects/lib/lzma"]
	path = libs/lime/projects/lib/lzma
	url = https://github.com/openfl/liblzma
[submodule "libs/lime/projects/lib/tinyfiledialogs"]
	path = libs/lime/projects/lib/tinyfiledialogs
	url = https://github.com/openfl/libtinyfiledialogs
[submodule "libs/lime/projects/lib/efsw"]
	path = libs/lime/projects/lib/efsw
	url = https://github.com/openfl/libefsw
[submodule "libs/lime/projects/lib/vpx"]
	path = libs/lime/projects/lib/vpx
	url = https://github.com/openfl/libvpx
[submodule "libs/lime/projects/lib/webm"]
	path = libs/lime/projects/lib/webm
	url = https://github.com/openfl/libwebm
[submodule "libs/lime/projects/lib/mbedtls"]
	path = libs/lime/projects/lib/mbedtls
	url = https://github.com/openfl/libmbedtls
[submodule "libs/lime/projects/lib/mojoal"]
	path = libs/lime/projects/lib/mojoal
	url = https://github.com/openfl/libmojoal
[submodule "libs/lime/projects/lib/hashlink"]
	path = libs/lime/projects/lib/hashlink
	url = https://github.com/HaxeFoundation/hashlink
  